!.gitignore
!.htaccess
/.idea
/.vscode
.history
.DS_Store
.env
.phpcs.cache
.phpunit.result.cache

node_modules
log/*
temp/*
vendor/
www/assets/

mix-manifest.json
docker-compose.override.yml
Thumbs.db

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log


/public/mix-manifest.json
/public/vendor/campaign
/public/hot
/public/assets/lib
/config/beam.php
/config/services.remp.php
/config/system.php
/config/search.php
/config/banners.php
/config/newsletter_banners.php
/storage/logs/
